@model estudo_mvc.Models.Cliente

@{
    ViewData["Title"] = "Delete";
}
<br>
<h1>Deletar Cliente</h1>

<h3>Tem certeza de que deseja excluir isso?</h3>
<div>
    <hr />
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Nome)</th>
                <th>@Html.DisplayNameFor(model => model.Endereco)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(model => model.Nome)</td>
                <td>@Html.DisplayFor(model => model.Endereco)</td>
            </tr>
        </tbody>
    </table>


    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger btn-sm" />
        <a asp-action="Index" class="btn btn-primary btn-sm">Voltar</a>
    </form>
</div>
