html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}


body {
  background-image: url('../img/bg-icons-2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.table-container {
  height: 280px!important; 
  overflow-y: scroll;
  margin-bottom: 20px; 
}
td,
th {
  text-align: center;
  vertical-align: middle;
}

table tbody tr:last-child {
  border-bottom: none;
}